{% load static %}

<script src="{% static '/assets/vendor/jquery.min.js'%}"></script>
<!-- Bootstrap JS -->
<script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- circle progress bar -->
<script src="{% static '/assets/vendor/circle-progress.min.js'%}"></script>
<!-- Slick Slider -->
<script src="{% static '/assets/vendor/slick/slick.min.js'%}"></script>
<!-- js Counter -->
<script src="{% static '/assets/vendor/jquery.counterup.min.js'%}"></script>
<!-- jquery.sidebar.min.js -->
<script src="{% static '/assets/vendor/jquery.sidebar.min.js'%}"></script>
<!-- waypoints  -->
<script src="{% static '/assets/vendor/jquery.waypoints.min.js'%}"></script>
<!-- jquery.magnific-popup.min.js -->
<script src="{% static '/assets/js/jquery.magnific-popup.min.js'%}"></script>
<!-- Nice Select -->
<script src="{% static '/assets/vendor/nice-select/jquery.nice-select.min.js'%}"></script>
<!-- wow js -->
<script src="{% static '/assets/vendor/wow.min.js'%}"></script>
<!-- Theme js -->
<script src="{% static '/assets/js/theme.js'%}"></script>
